@charset "UTF-8";
body{
    background-color: rgba(209, 252, 243);
}
h1{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(132, 23, 233);
}
.demo{ 
     float:left;  
     list-style-type: none;
     padding: 8px; ;
}
.S{
    float: left;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(255,240,245,.8) ;
    width: 390px;
    height:135px;
    border-radius: 10%;
    border-color: blueviolet;
    border-width: 2px;
}