@charset "UTF-8";
body{
    background-color:whitesmoke;
}
h1{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.demo{ 
     float:left;  
     list-style-type: none;
     padding: 8px; ;
}
.S{
    float: left;
    margin: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white ;
    width: 400px;
    height: 150px;
    border-radius: 10%;
    border-color:dimgray;
    border-width: 2px;
}